In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop('salary_more_then_100k', axis ='columns')
target = df['salary_more_then_100k']

In [5]:
target.head(ds )

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

# Preprocess - convert string data to label encoder

In [6]:
from sklearn.preprocessing import LabelEncoder
le_comp = LabelEncoder()
le_job = LabelEncoder() # 3 objects for 3 fields that need to be encoded
le_degree = LabelEncoder()

In [8]:
inputs['company_n'] = le_comp.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [9]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [14]:
from sklearn import tree

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.2)

In [17]:
model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [18]:
model.predict(x_test)

array([0, 1, 1, 1])

In [19]:
y_test

0     0
3     1
6     0
13    1
Name: salary_more_then_100k, dtype: int64

In [20]:
model.score(inputs_n, target)

0.9375

In [37]:
def solution(a):
    b=[]
    print(b)
    for i in range (len(a)):
        if i==0:
            print (a[i], a[i+1])
            b.append(a[i]+a[i+1])
            print(b[i])
        elif i==len(a)-1:
            b.append(a[i-1]+a[i])
        else:
            b.append(a[i-1]+a[i]+a[i+1])
    return b

In [38]:
solution([4, 0, 1, -2, 3])

[]
4 0
4

[4, 5, -1, 2, 1]